{% extends 'base.html' %} {%block title%}Constructor{%endblock%} {%block content%}
<script type="text/javascript">
	
</script>
<form  class="conteiner" ng-controller="builder" ng-submit="save()">
	<input type="hidden" value="{{csrf_token}}" name="" id="token">
    <div class="col-xs-3">
        <div class="questionPanel">
            <div class="panel panel-default ">
                <div class="panel-body" style="text-align: center;">
                	<!--<button type="button" class="btn btn-primary" ng-click="addPage()" style="margin-bottom: 5px;width: 150px;">
                        Nueva Pagina
                        <i class="fas fa-file-alt"></i>
                    </button>-->
                    <button type="submit" class="btn btn-success" style="margin-bottom: 5px;width: 150px;">
                    	Guardar
                        <i class="fas fa-save"></i>
                    </button>
                    
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading">
                    Agregar pregunta
                </div>
                <div class="panel-body" style="padding: 0">
                    <ul class="list-group questionType">
                        <li class="list-group-item" ng-click="add(1)">
                            Opcion multiple
                            <i class="fas fa-plus" style="float: right;"></i>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="encabezado row">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="survey.name" placeholder="Titulo" required="">
            </div>
            <div class="form-group">
                <textarea type="text" class="form-control" ng-model="survey.description" placeholder="Descripcion">
                    </textarea>
            </div>
        </div>
        <div class="paginas row" style="display: none">
        	<h5>Paginas</h5>
            <ul class="pagination">
                <li ng-repeat="page in survey.pages"><a href="#"  ng-click="changePage(page.page)">{[{page.page}]}</a></li>
            </ul>
        </div>
        <div class="preguntasContenedor">
            <div class="pregunta row" ng-repeat="question in survey.pages[currentPage-1].questions track by $index">
                <div class="tools">
                    <div class="toolBtn">
                        <button type="button" name="button" ng-click="remove($index)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        <button type="button" name="button" ng-click="clone(question)"><i class="fa fa-clone" aria-hidden="true"></i></button>
                    </div>
                   
                    <label>Required</label>
                    <input type="checkbox" checked="true" ng-model="question.required">
                    <div ng-if="false" class="multiselect" >
                        <label>Multiselect</label>
                        <input type="checkbox" ng-model="question.multiselect">
                    </div>
                </div>
                <div class="inside">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Pregunta {[{question.question}]}</h4>
                            <input type="text" class="form-control" name="" value="" ng-model="question.description" placeholder="PREGUNTA.." required="">
                        </div>
                    </div>
                    <div class="row" ng-if="question.type==1">
                        <div class="col-xs-12">
                            <div ng-repeat="opc in question.option track by $index">
                                <div class="form-group col-xs-8">
                                    <h5 class="col-xs-2 col-form-label">{[{$index+1}]})</h5>
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" name="{[{$index}]}" placeholder="opcion {[{$index+1}]}" ng-model="opc.value" required="">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <button class="btn btn-danger" ng-click="removeOption(question,$index)"><i class="fas fa-times"></i></button>
                                </div>
                            </div>
                            <div class="col-xs-12" align="center">
                                <button class="btn btn-success" type="button" ng-click="addOption(question)"><i class="fas fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="question.type==2">
                    </div>
                    <div class="row" ng-if="question.type==3">
                        <div class="form-group col-xs-6">
                            <h5 class="col-xs-2 col-form-label">Min</h5>
                            <div class="col-xs-10">
                                <input type="number" ng-model="question.min">
                            </div>
                        </div>
                        <div class="form-group col-xs-6">
                            <h5 class="col-xs-2 col-form-label">Max</h5>
                            <div class="col-xs-10">
                                <input type="number" ng-model="question.max">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default ">
            <div class="panel-body">
                <div class="panel-heading">
                    JSON
                </div>
                <div class="panel-body" style="padding: 0">
                    {[{survey|json}]}
                </div>
            </div>
        </div>
    </div>
</form>
{%endblock%}